# Google Cloud Platform (GCP)
# Path to your downloaded service account JSON key
GCP_KEY_FILE=
# The exact name of your GCS bucket
GCS_BUCKET_NAME=

# PostgreSQL Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_HOST=localhost