name: Create and deploy artifact to Cloud Run
run-name: Deploying commit ${{ github.sha }} by @${{ github.actor }}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT }}
  REGION: us-east1
  SERVICE_NAME: api-service
  IMAGE_NAME: us-east1-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/api-registry/api

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=sha
            type=raw,value=latest

      - name: Authenticate to GCP
        id: auth
        uses: google-github-actions/auth@v3
        with:
          token_format: 'access-token'
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_SERVICE_ACCOUNT }}'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Auth
        id: docker-auth
        uses: 'docker/login-action@v3'
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.REGION }}-docker.pkg.dev'

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.prod
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: 'google-github-actions/deploy-cloudrun@v3'
        with:
          image: ${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}
          service: ${{ env.SERVICE_NAME }} 
          region: ${{ env.REGION }}

